header .logo{
    position: absolute;
    width: 20%;
    margin-left: 40%;
    top:0;
}
header .param-responsive{
    margin-left: 80%;
    right: 0;
    display: block;
    list-style: none;
    margin-top: 11%;
}
header .param-responsive img{
    max-width: 60%;
}
header .param-responsive p{
    display: none;
}
main{
   margin: 2%;  
}
main .entete-profil{
    margin-top: 5%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-image: none;
}
main .entete-profil h1{
    font-size: 1.3rem
}
main .entete-profil img{
    width: 63px;
    height: 61px;
}
main .entete-profil .texte p{
    font-size: 0.7rem;
    font-weight: 100;
}
main .entete-profil h2{
    font-size: 0.6rem;
    font-weight: 900;
}
main .droite h1{
    font-size: 0.8rem;
    margin-top: 0;
}
main .droite .icones{
    display: flex;
    justify-content: space-evenly;   
}
main .droite .icones img{
    max-width: 25%;
    height: 0%;
}
main .droite .icones p{
    display: none;
}
.side-nav {
    width: 100%; /* Ajustement de la largeur pour occuper tout l'écran */
    height: 10%; /* Hauteur automatique */
    bottom: 0; /* Placer la barre latérale en bas de la fenêtre */
    top: auto; /* Réinitialiser la position en haut */
    display: block;
    background-color: #ccc;
    padding-left: 5%;
}
.nav-links p{
    display: none;
}
#searchbar{
    display: none;
}
.side-nav .param-responsive{
    display: none;
}
.nav-links .loupe-responsive{
    display: block;
}
.nav-links {
    display: flex;
    flex-direction: row; /* Afficher les liens horizontalement */
    justify-content: space-around;
}
.nav-links li {
    margin-right: 15px; /* Ajouter un peu d'espace entre les liens */
}

.card-list {
margin-right: 0;

}

.img-container {
    /* object-fit: cover; */
    width: 80%;
    height: 50%;
}

.card-img {
object-fit: fill;

}

.card-container {
    max-width: 70%;
    max-height: 23rem;
}
.card-section {
    margin-top: 3%;
    margin-left: 4rem;
}
form.form{
    display: flex;
    width: auto;
    flex-direction: column;
}
.input-send {
   margin-top: 0.3rem;
   font-size: 0.6rem;
   border: 1px solid black;
   border-radius: 0.3rem;  
    width: 40%;
}
.card-container #card-icons{
    width: 36%;
}
section{
    display: flex;
    justify-content: space-around;
}

.footer {
    margin: 4rem 0rem;
}