header .header-responsive {
    display: flex;
}
header .logo-responsive{
    display: block;
    display: flex;
    list-style: none;
}
header .logo-responsive p{
    display: none;
}
.side-nav {
    width: 100%; /* Ajustement de la largeur pour occuper tout l'écran */
    height: auto; /* Hauteur automatique */
    bottom: 0; /* Placer la barre latérale en bas de la fenêtre */
    top: auto; /* Réinitialiser la position en haut */
    padding: 15px; /* Réduire le padding pour plus d'espace */
    border-right: none; /* Supprimer la bordure droite */
}
.nav-links p{
    display: none;
}
#searchbar{
    display: none;
}
.side-nav .logo-responsive{
    display: none;
}
.nav-links .loupe-responsive{
    display: block;
}
.nav-links {
    display: flex;
    flex-direction: row; /* Afficher les liens horizontalement */
    justify-content: space-around;
}
.nav-links li {
    margin-right: 15px; /* Ajouter un peu d'espace entre les liens */
}


