* {
    box-sizing: border-box;
    /*! background-color: burlywood; */
}
:root{
    --main-color:
    --second-color: 
}
body {
    margin: 0;
    line-height: 1.5;
    background-color: #F0F0F0;
    font-family: 'Lexend';
}
.side-nav{
    width: 250px;
    height: 100%;
    background-color: #F0F0F0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-right: 2px solid #ccc;
}
header .logo{
    display: block; 
    margin-bottom: 30%;
    width: 150px;
}
#searchbar{ 
    height: 30px; /*Hauteur de l'input*/
    border-radius: 1rem;
    background-image: url(../1er-projet/images/Loupe.png); 
    background-size: 20px 20px; /*Taille de l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: 5px center; /* Positionnement de l'image à gauche et centré verticalement */
    border: 2px solid #ccc; /*Bordure de l'input */
    background-color: #ebe9e9;    
} 
.nav-links{
    list-style: none;
    position: relative;
    padding-left: 0;
}
.nav-links li{
    padding: 10px 0;
}
.nav-links a{
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links img{
        max-width: 20%;

}
.nav-links p{
    padding: 0px 14px;
    display: flex;
    align-items: center;
    margin: 0;
}
.entete-profil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
.entete-profil img{
    width: 163px;
    height: 161px;
    border-radius: 1000px;
    margin-bottom: 5%;
}
.img-left #searchbar{ */
    /* height: 30px; Hauteur de l'input
    margin-left: 1.5rem;
    border-radius: 1rem;
    background-image: url(../1er-projet/images/Loupe.png);  */
    /* background-size: 20px 20px; Taille de l'image */
    /* background-repeat: no-repeat; /* Empêche la répétition de l'image */
    /* background-position: 5px center; /* Positionnement de l'image à gauche et centré verticalement */
    /* border: 2px solid #ccc; Bordure de l'input */
    /* background-color: #ebe9e9;    
}
main{ 
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}
.img-left{
    border-right: 2px solid #ccc;
    width: 250px;
}
.img-left img{
    margin-left: 40%;
    max-width: 20%;
    margin-top: 20%;
}
.img-left h3{
    display: flex;
    margin-top: 0;
    color: black;
    font-weight: normal;
    justify-content: center;
}
.texte{ 
    width: 40%;
    margin-left: 7%;
    margin-bottom: 5%;
}
.texte h1{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 20%;
    font-size: 2rem;
    font-weight: 50;
}
.texte p{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    font-size: 1rem;
    font-weight: 100;
}
.texte h2{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 20%;
    font-size: 0.8rem;
    font-weight: 900;
}
.droite{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-bottom: 5%;
}
.droite img{
    max-width: 30%;
    height: 10%;
}
.droite h1{
    color: black;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
    font-weight: 100;
}
.publications img{
    width: 30%;
    margin-left: 10%;
} */